# Ignore frontend (not needed in backend container)


# Ignore dependencies (they get installed fresh in container)

Queue-worker/node_modules

# Ignore logs and temp files
*.log
*.txt

# Ignore Git
.git
.gitignore


